BareNecessities==0.2.8
blinker==1.9.0
click==8.4.2
colorama==0.4.6
config==0.5.1
Flask==3.0.3
Flask-Mail==0.10.0
Flask-MySQLdb==2.0.0
Flask-SQLAlchemy==3.1.1
greenlet==3.5.4
gunicorn==26.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
Mail==2.1.0
MarkupSafe==3.0.3
mysql-connector-python==8.4.0
mysqlclient==2.2.8
packaging==26.3
PyJWT==2.13.0
PyMySQL==1.2.0
python-dotenv==1.0.1
SQLAlchemy==2.0.51
typing_extensions==4.16.0
Werkzeug==3.0.3
