Flask==3.0.3
Flask-Mail==0.10.0
Flask-MySQLdb==2.0.0
Flask-SQLAlchemy==3.1.1
gunicorn==26.0.0
Jinja2==3.1.6
mysql-connector-python==8.4.0
mysqlclient==2.2.8
PyJWT==2.13.0
PyMySQL==1.2.0
python-dotenv==1.0.1
razorpay
SQLAlchemy==2.0.51
Werkzeug==3.0.3